<div class="flex flex-col items-center justify-center h-screen bg-blue-500">
    <div class="bg-white shadow rounded-lg p-8">
      <h2 class="text-2xl font-bold text-center">Login</h2>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Usuário</label>
          <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none" placeholder="Nome de usuário">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Senha</label>
          <input type="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none" placeholder="Senha">
        </div>
        <div class="flex items-center justify-between">
          <a href='/credit-card'><button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none">Login</button></a>
          <a href="#" class="text-gray-500 text-sm">Esqueceu a senha?</a>
        </div>
    </div>
</div>